@import url('https://fonts.googleapis.com/css?family=Chakra+Petch|Inconsolata');
html, body, main {
  height: 100%;
}

html, body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background:#FFF5EE;
}

#bg {

/*
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;*/

 background:#FFF5EE;

}

#h {
  padding-top: 150px;
  width:80%;
  margin-left:auto;
  margin-right:auto;
  transition: all .6s ease-in-out;
  font-family: 'Chakra Petch', sans-serif;
}